* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Roboto', sans-serif;
    --main-color: #41b3ff;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    width: 100vw;
}

.header-wrapper {
    display: flex;
    flex-direction: column;

    grid-column : 2 / 4;
    grid-row: 1 / 2;

    border: solid rgb(255, 0, 0);
}
    .upper-header {

    }

    .lower-header {

    }

.nav-wrapper {

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    border: solid blue;
}
    .logo-name-container {

    }

    .user-naviagtion-container {

    }

    .user-settings-container {

    }

.main-wrapper {

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border: solid green;
}
    .heading-container {

    }

    .main-content-container {

    }

.side-wrapper {

}
    .annoucements-container {

    }
    .trending-contaienr {

    }