* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font: 'Roboto', sans-serif;
    --main-color: #41b3ff;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr;

    height: 100vh;
    width: 100vw;

    background-color: #d9e6ee;
    font-family: var(--font);
}

.header-wrapper {

    grid-column : 2 / 4;
    grid-row: 1 / 2;

    background-color: #ffffff;
    box-shadow: 0 10px 10px #d4d4d4;
}
    .upper-header {
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }
        .search-wrapper {
            display: flex;
            flex-direction: row;
        }
            .search-bar {
                border: none;
                background-color: rgb(228, 228, 228);
                border-radius: 3rem;
                width: 50vw;
            }

        .user-section {
            display: flex;
            flex-direction: row;
        }
            .user-account-icon{
                height: clamp(16px, 40px, 5vw);
            }

            .user-account-name {
                font-size: clamp(24px, 4vw, 32px);
            }
    .lower-header {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 5px;
    }
        .user-account-icon-lower {
            height: clamp(32px, 50px, 5vw);
        }

        .greeting-user-account {
            display: flex;
        }
        .greeting {

        }
.nav-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 40px;
    padding-left: 20px;
    padding-top: 1rem;
    background-color: var(--main-color);

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
    .logo-name-container {
        display: flex;
        justify-content: flex-start ;
        align-items: center;
    }
        .logo-name {
            font-size: clamp(24px, 4vw, 32px);
            color: white;
        }

    .user-naviagtion-container {
        
    }
        .navigation-list-container {
            list-style-type: none;
        }

    .user-settings-container {

    }
        .user-settings-list-container {
            list-style-type: none;
        }

/* Link and list */

.link-list {
    text-decoration-style: none;
    color: #FFFFFF;
    padding-bottom: 10px;
}

    .link {
        text-decoration-style: none;
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;

        display: flex;
        gap: 20px;
        place-items: center;
    }


.main-wrapper {

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;

}
    .main-heading-container {
        padding-bottom: 1vh;
    }
        .heading-container > h4 {
            font-weight: 500;
        }
    .main-content-container {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 420px));
        gap: 20px;
        overflow: hidden;
    }
        .main-content-cards-container {
            padding-top: 30px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;

            border-radius: 5px;
            border-left: solid #63b8f0;
            border-width: 8px;
            background-color: #ffffff;

            box-shadow: 0 10px 10px #d4d4d4;

            width: 400px;
            height: 210px;

            display: flex;
            flex-direction: column;
        }

            .card-header {
                padding-bottom: 5px;
            }
            
            .text-content {
                flex: 1;
                font-size: 14px;
                color: #757575;
                overflow: hidden;
            }

            .card-icons-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: end;
                padding-right: 20px;
                gap: 20px;
            }
.side-wrapper {

    grid-column: 3 / 4;
    grid-row: 2 / 3;

    border: pink solid;

}
    .annoucements-container {

    }
    .trending-contaienr {

    }

/* Icon sizing */

.icon-size {
    height: clamp(16px, 40px, 5vh);
    fill: #FFFFFF;
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(1deg) brightness(106%) contrast(93%);
}

.icon-size-color {
    fill: rgb(0, 0, 0);
    height: clamp(16px, 40px, 4vh);
}

.card-icons {
    height: clamp(14px, 25px, 4vh);
}